<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/acount.css" />
    <title>CURAHOPE</title>
    <link rel="icon" type="image/svg" href="/img/doctor-svgrepo-com.svg">
</head>

<body>
    <div class="contner">
        <nav>
            <ul>
                <li><a href="#" class="logo">
                        <img src="{{ doctorProfileImage}}">
                        <span class="item">{{doctorname}}</span>
                    </a></li>

                <li><a href="/doctoraccount" class="decoration">
                        <i class="fas fa-database"></i>
                        <span class="item">Appointment</span>
                    </a>
                </li>
                <li><a href="/document" class="decoration">
                        <i class="fab fa-dochub"></i>
                        <span class="item">Documnents</span>
                    </a>
                </li>
                <li><a href="/doctoreditprofile" class="decoration">
                        <i class="fas fa-user"></i>
                        <span class="item">Edit Profile</span>
                    </a></li>
                

                <li><a href="#" class="decoration">
                        <i class="fas fa-question-circle"></i>
                        <span class="item">Help</span>
                    </a>
                </li>
                <form action="/logout" method="POST" class="log">
                    <button type="submit" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="item">Log out</span>
                    </button>
                </form>

            </ul>
        </nav>


        <section class="main">
            <div class="nav-bar">
                <h1 class="nav-title">Today's Appointments</h1>
                <form action="/auth/doctorsearch" method="get" class="search-form">
                    <input type="search" name="name" placeholder="Search ...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <!--<a href="javascript:void(0)" id="clear-btn">Clear</a>-->
                </form>
            </div>
            <section class="reservation ">
                <div class="attendance-list">
                    <h1>Attendance List</h1>
                    <table class="tr">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Day</th>
                                <th>Time</th>

                            </tr>

                        </thead>
                        <tbody>

                            {{#if appointments.length}}
                            {{#each appointments}}
                            <tr>
                                <td class="display">{{this.name}}</td>
                                <td class="display">{{this.day}}</td>
                                <td class="display">{{this.time}}</td>

                            </tr>
                            {{/each}}
                            {{else}}

                            {{/if}}
                        </tbody>
                        <!--
                        <tbody>

                            {{#each appointments }}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.day}}</td>
                                <td>{{this.time}}</td>


                            </tr>
                            {{/each}}


                        </tbody>-->

                    </table>
                </div>
            </section>
        </section>





    </div>
    </section>
    </div>

</body>

</html>