<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/acount.css" />
    <title>CURAHOPE</title>
    <link rel="icon" type="image/svg" href="/img/doctor-svgrepo-com.svg">
</head>

<body>
    <div class="contner">
        <nav>
            <ul>
                <li><a href="#" class="logo">
                        <img src="{{ userProfileImage }}">
                        <span class="item">{{username}}</span>
                    </a></li>
                <li><a href="/patientacount" class="decoration">
                        <i class="fas fa-database"></i>
                        <span class="item">Appointment</span>
                    </a>
                </li>

                <li><a href="/editprofile" class="decoration">
                        <i class="fas fa-user"></i>
                        <span class="item">EditProfile</span>
                    </a></li>


                <li><a href="#" class="decoration">
                        <i class="fas fa-question-circle"></i>
                        <span class="item">Help</span>
                    </a>
                </li>
                <form action="/logout" method="POST" class="log">
                    <button type="submit" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="item">Log out</span>
                    </button>
                </form>

            </ul>
        </nav>


        <section class="main">
            <div class="nav-bar">
                <h1 class="nav-title">Our doctor</h1>
                <form action="/auth/search" method="get" class="search-form">
                    <input type="search" name="name" placeholder="Search doctor...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <!--<a href="javascript:void(0)" id="clear-btn">Clear</a>-->
                </form>
            </div>
            <div class="users">
                <div class="card">
                    <img src="/img/samdavid.jpg">
                    <h4>Sam David</h4>
                    <div class="per">
                        <p>General Surgery</p>
                        <div class="per">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id labore corporis quo
                                sunt
                                non
                                incidunt nesciunt</p>

                            <div id="collapse-1" class="collapse">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,

                            </div>
                            <button type="button" class="btn " this-bs-toggle="collapse"
                                this-bs-target="#collapse-1">Read More</button>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <img src="/img/baldinakherr.jpg">
                    <h4>Balbina Kherr</h4>
                    <div class="per">
                        <p>Gashoenterology</p>
                        <div class="per">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id labore corporis quo
                                sunt
                                non
                                incidunt nesciunt</p>

                            <div id="collapse-2" class="collapse">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,

                            </div>
                            <button type="button" class="btn " this-bs-toggle="collapse"
                                this-bs-target="#collapse-2">Read More</button>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <img src="/img/badanjhon.jpg">
                    <h4>Badan John</h4>
                    <div class="per">
                        <p>Cardiology</p>
                        <div class="per">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id labore corporis quo
                                sunt
                                non
                                incidunt nesciunt</p>

                            <div id="collapse-3" class="collapse">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,

                            </div>
                            <button type="button" class="btn " this-bs-toggle="collapse"
                                this-bs-target="#collapse-3">Read More</button>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <img src="/img/saradavid.jpg">
                    <h4>Sara David</h4>
                    <div class="per">
                        <p>Ear, nose and throat</p>
                        <div class="per">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id labore corporis quo
                                sunt
                                non
                                incidunt nesciunt</p>

                            <div id="collapse-4" class="collapse" style="text-transform: uppercase">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,

                            </div>
                            <button type="button" class="btn " this-bs-toggle="collapse"
                                this-bs-target="#collapse-4">Read More</button>
                        </div>
                    </div>

                </div>
            </div>

            <section class="attendance">
                <div class="attendance-list">
                    <h1>Attendance List</h1>
                    <table class="tr">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Depart</th>
                                <th>Days</th>
                                <th>Join Time</th>
                                <th>Logout Time</th>
                                <th>Details</th>
                            </tr>

                        </thead>
                        <!--<tbody>

                            {{#if searchp.length}}
                            {{#each searchp}}
                            <tr>
                                 <td>{{this.id}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.depart}}</td>
                                <td>{{this.days}}</td>
                                <td>{{this.jointime}}</td>
                                <td>{{this.logouttime}}</td>
                                <td ><a href="/reservation/{{this.id}}"  class="style"> reservation </a></td>


                            </tr>
                            {{/each}}
                            {{else}}

                            {{/if}}
                        </tbody>-->

                        <tbody>

                            {{#each doctor }}
                            <tr>
                                <td>{{this.ID}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.specialization}}</td>
                                <td>{{this.days}}</td>
                                <td>{{this.join_time}}</td>
                                <td>{{this.logout_time}}</td>
                                <td><a href="/reservation/{{this.ID}}" class="style"> reservation </a></td>

                            </tr>
                            {{/each}}


                        </tbody>

                    </table>
                </div>
            </section>
        </section>
    </div>
    <!--<script>
        const clearInput = () => {
            const input = document.getElementsByTagName("input")[0];
            input.value = "";
        }

        const clearBtn = document.getElementById("clear-btn");
        clearBtn.addEventListener("click", clearInput);


    </script>-->
</body>

</html>